
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.file-cover-2-LMu {
  align-items: flex-end;
  background-color: #000000;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:af4bb34f4fbe377e20949676f9f7e96e23e399dc');
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: flex;
  background-position: center;
  padding: 7.2rem 0rem 0rem 10.4rem;
  overflow: hidden;

  .auto-group-yp2k-s6w {
    margin-right: 15.5767rem;
    width: 171.2rem;
    height: 118.4rem;
    position: relative;
    flex-shrink: 0;

    .mockup-wrap-QsZ {
      width: 171.2rem;
      height: 118.4rem;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      border-radius: 1.2rem;

      .toolbar-and-mockup-mTD {
        flex-direction: column;
        width: 100%;
        height: 195.7862rem;
        align-items: center;
        display: flex;

        .browser-toolbar-vL7 {
          padding: 1.284rem 1.712rem 1.266rem 2.14rem;
          height: 5.564rem;
          background-color: #ffffff;
          border-radius: 1.284rem 1.284rem 0 0;
          flex-shrink: 0;
          margin-bottom: 0rem;
          box-sizing: border-box;
          width: 100%;
          display: flex;
          align-items: center;

          .controls-2tw {
            margin: 0.874rem 1.659rem 0.856rem 0rem;
            height: calc(100% - 1.73rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .close-MgK {
              width: 1.284rem;
              height: 1.284rem;
              border: solid 0.0535rem #ce5347;
              box-sizing: border-box;
              box-shadow: inset 0 0 0.642rem #ec6d62);
              background-color: #ee6a5f;
              border-radius: 0.642rem;
              margin-right: 0.856rem;
              flex-shrink: 0;
            }
            .maximise-44w {
              margin-right: 0.856rem;
              height: 1.284rem;
              background-color: #f5bd4f;
              border-radius: 0.642rem;
              width: 1.284rem;
              border: solid 0.0535rem #d6a243;
              box-sizing: border-box;
              box-shadow: inset 0 0 0.642rem #f5c451);
              flex-shrink: 0;
            }
            .minimise-Mpj {
              border-radius: 0.642rem;
              flex-shrink: 0;
              width: 1.284rem;
              height: 1.284rem;
              border: solid 0.0535rem #58a942;
              box-sizing: border-box;
              box-shadow: inset 0 0 0.642rem #68cc58);
              background-color: #61c454;
            }
          }
          .button-Tsm {
            flex-shrink: 0;
            margin: 0rem 1.016rem 0.018rem 0rem;
            width: 3.531rem;
            height: 2.996rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 0.642rem;
          }
          .actions-NUw {
            flex-shrink: 0;
            margin: 0.018rem 32.742rem 0rem 0rem;
            width: 6.848rem;
            height: 2.996rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .button-6fq {
            border-radius: 0.642rem;
            flex-shrink: 0;
            margin: 0.018rem 1.07rem 0rem 0rem;
            width: 3.424rem;
            height: 2.996rem;
            object-fit: contain;
            vertical-align: top;
          }
          .search-input-2ZV {
            border: solid 0.107rem #bfbfbf;
            background-color: #ffffff;
            border-radius: 0.642rem;
            margin: 0.018rem 40.018rem 0rem 0rem;
            height: calc(100% - 0.018rem);
            display: flex;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.648rem 0.945rem 0.648rem 21.517rem;
            align-items: center;

            .text-and-lock-icon-jD1 {
              flex-shrink: 0;
              margin-right: 23.3166rem;
              height: 100%;
              overflow: hidden;
              position: relative;
              display: flex;
              align-items: center;

              .lock-t5u {
                height: 1.2232rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 1.088rem 0.061rem 0rem;
                width: 0.8376rem;
              }
              .text-D8B {
                display: flex;
                font-weight: 400;
                line-height: 1.2125;
                white-space: nowrap;
                font-size: 1.391rem;
                letter-spacing: -0.0056rem;
                color: #1b1b1b;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
            .refresh-jcK {
              margin-top: 0.0148rem;
              width: 1.1078rem;
              height: 1.3498rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .right-actions-3d1 {
            position: relative;
            display: flex;
            column-gap: 0.856rem;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 0.018rem;
            height: calc(100% - 0.018rem);
            overflow: hidden;

            .button-asq {
              height: 2.996rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 0.642rem;
              flex-shrink: 0;
              width: 3.424rem;
            }
            .button-XYB {
              vertical-align: top;
              border-radius: 0.642rem;
              flex-shrink: 0;
              width: 3.424rem;
              height: 2.996rem;
              object-fit: contain;
            }
            .button-GVm {
              width: 3.424rem;
              height: 2.996rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 0.642rem;
              flex-shrink: 0;
            }
            .button-R7m {
              width: 3.424rem;
              height: 2.996rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 0.642rem;
              flex-shrink: 0;
            }
          }
        }
        .mockup-replace-this-Xgb {
          background-position: 0rem -0.0332rem;
          background-image: url('REPLACE_IMAGE:b97227194c136dbc414ba9283a164b9ec062cfd1');
          flex-shrink: 0;
          width: 171.2rem;
          height: 190.2222rem;
          position: relative;
          background-size: 100% 64.182%;
        }
      }
    }
    .vector-cT9 {
      border-radius: 0.1579rem;
      width: 6.5rem;
      height: 6.6rem;
      position: absolute;
      left: 149.4rem;
      top: 68rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .frame-746-Xq1 {
    background-image: url('REPLACE_IMAGE:33053663ac4966d047e17e0a8fd6487c5a6169c3');
    border-radius: 3rem;
    flex-shrink: 0;
    width: 103.9589rem;
    height: 93.724rem;
    position: relative;
    background-size: 100% 177.754%;
    background-position: -0.1031rem -13.2765rem;
  }
}
