
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 76rem;
}.thank-you-Xjm {
  box-sizing: border-box;
  padding: 8rem 8rem 8rem 8rem;
  width: 100%;
  row-gap: 4.8rem;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  display: flex;
  border-radius: 6.4rem;

  .avatar-1-F9y {
    border-radius: 96rem;
    flex-shrink: 0;
    margin-right: 50.4rem;
    width: 9.6rem;
    height: 9.6rem;
    object-fit: cover;
    vertical-align: top;
  }
  .frame-745-B3d {
    margin-right: 0.2rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .thank-you-j59 {
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.6rem;
      font-size: 6.4rem;
      font-weight: 700;
      line-height: 1;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .thanks-for-duplicating-this-figma-file-if-you-found-it-useful-please-feel-free-to-show-your-support-in-any-of-the-four-ways-mentioned-below-FZH {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.5;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 59.8rem;
    }
  }
  .button-ixf {
    width: 100%;
    height: 11.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-xjtx-5YK {
      flex-shrink: 0;
      margin-right: 1.6rem;
      width: 18.9333rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .btt-pko {
        font-family: Inter, 'Source Sans Pro';
        border-radius: 1.6rem;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.6rem;
        border: solid 0.2rem rgba(0, 0, 0, 0.200000003);
        margin-bottom: 1.6rem;
        height: 4.8rem;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
        color: #000000;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-weight: 600;
        line-height: 1.5;
      }
      .btt-Vc3 {
        text-align: center;
        border: solid 0.2rem rgba(0, 0, 0, 0.200000003);
        font-weight: 600;
        color: #000000;
        display: flex;
        line-height: 1.5;
        justify-content: center;
        border-radius: 1.6rem;
        position: relative;
        font-size: 1.6rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        width: 100%;
        height: 4.8rem;
        overflow: hidden;
        box-sizing: border-box;
        flex-shrink: 0;
      }
    }
    .auto-group-xsuw-yn7 {
      margin-right: 1.6rem;
      width: 18.9333rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .btt-L6s {
        font-weight: 600;
        color: #000000;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        overflow: hidden;
        text-align: center;
        border-radius: 1.6rem;
        position: relative;
        justify-content: center;
        box-sizing: border-box;
        white-space: nowrap;
        display: flex;
        height: 4.8rem;
        font-size: 1.6rem;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 1.6rem;
        line-height: 1.5;
        border: solid 0.2rem rgba(0, 0, 0, 0.200000003);
      }
      .btt-DwM {
        display: flex;
        border: solid 0.2rem rgba(0, 0, 0, 0.200000003);
        box-sizing: border-box;
        border-radius: 1.6rem;
        position: relative;
        font-size: 1.6rem;
        line-height: 1.5;
        justify-content: center;
        overflow: hidden;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        flex-shrink: 0;
        height: 4.8rem;
        text-align: center;
        white-space: nowrap;
        width: 100%;
        font-weight: 600;
        color: #000000;
      }
    }
    .auto-group-rndv-KjV {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 18.9333rem;
      height: 100%;

      .btt-fYT {
        width: 100%;
        white-space: nowrap;
        height: 4.8rem;
        font-weight: 600;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        flex-shrink: 0;
        border-radius: 1.6rem;
        margin-bottom: 1.6rem;
        overflow: hidden;
        position: relative;
        line-height: 1.5;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        border: solid 0.2rem rgba(0, 0, 0, 0.200000003);
        text-align: center;
        font-size: 1.6rem;
        display: flex;
      }
      .btt-LPh {
        line-height: 1.5;
        white-space: nowrap;
        box-sizing: border-box;
        height: 4.8rem;
        position: relative;
        font-size: 1.6rem;
        width: 100%;
        color: #000000;
        border-radius: 1.6rem;
        display: flex;
        align-items: center;
        border: solid 0.2rem rgba(0, 0, 0, 0.200000003);
        font-family: Inter, 'Source Sans Pro';
        justify-content: center;
        flex-shrink: 0;
        overflow: hidden;
        text-align: center;
        font-weight: 600;
      }
    }
  }
  .get-our-comprehensive-hotelbook-figma-ui-kit-NbH {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
    margin-right: 9.7rem;
    max-width: 50.3rem;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.4545454545;
  }
  .promo-s2F {
    object-fit: cover;
    vertical-align: top;
    border-radius: 3.2rem;
    flex-shrink: 0;
    margin-right: 0rem;
    width: 60rem;
    height: 34.4rem;
  }
  .button-axF {
    height: 8rem;
    font-size: 3.2rem;
    justify-content: center;
    margin-right: 0rem;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    display: flex;
    background-color: #39ad65;
    border-radius: 2rem;
    font-weight: 600;
    line-height: 1;
    text-decoration-line: underline;
    white-space: nowrap;
    flex-shrink: 0;
    width: calc(100% - 0rem);
    align-items: center;
  }
}
